<footer class="page-footer grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contenu du footer</h5>
          <p class="grey-text text-lighten-4">Ceci est un footer test</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Navigation</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Mon Compte</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">A propos</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Liebaut Mélusine
      <a class="grey-text text-lighten-4 right" href="#!">D'autres liens</a>
      </div>
    </div>
  </footer>